flows/ingestion/ingestion.yml
id: ingestion
namespace: kestra.weather.prod.ingestion

inputs:
  - id: date
    type: STRING
    defaults: "202312"

tasks:
  - id: download
    type: io.kestra.plugin.core.http.Download
    uri: https://donneespubliques.meteofrance.fr/donnees_libres/Txt/Synop/Archive/synop.{{inputs.date}}.csv.gz

  - id: convert
    type: io.kestra.plugin.scripts.shell.Commands
    runner: PROCESS
    inputFiles:
      data.csv.gz: "{{ outputs.download.uri }}"
    outputFiles:
    - "data.csv"
    commands:
    - gzip -d data.csv.gz

  - id: upload
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.convert.outputFiles['data.csv']}}"
    to: "gs://weather-kestra/data/{{inputs.date}}/data_{{inputs.date}}.csv"
    serviceAccount: "{{ secret('GCP_SA')}}"